// Refuerzo para el storytelling de Proceso
main.container {
    h2 {
        color: $color-acento;
        border-bottom: 2px solid rgba($color-acento, 0.2);
        display: inline-block;
        padding-bottom: 5px;
    }

    p {
        font-size: 1.1rem;
        color: lighten($color-texto, 10%);
        line-height: 1.8;
    }

    .carousel, .img-hover-efecto {
        border: 1px solid rgba($color-acento, 0.1);
        background-color: #fff;
    }
}